body {
    background: linear-gradient(to left top, #afaabd, #353241) fixed;
}

.pp
{
    width: 15%;
    border-radius: 50%;
}

.ppContainer
{
    text-align: center;
}

.AboutButton
{
    color: #464abd;
    text-decoration: none;
    font-family: Arial;
    font-size: 50px;

    position: fixed;
    right: 0px;
    top: 0px;
}

.ProjectButton
{
    color: #464abd;
    text-decoration: none;
    font-family: Arial;
    font-size: 50px;

    position: fixed;
    right: 150px;
    top: 0px;
}

.ContactButton
{
    color: #464abd;
    text-decoration: none;
    font-family: Arial;
    font-size: 50px;

    position: fixed;
    right: 350px;
    top: 0px;
}

.HomeButton
{
    color: #464abd;
    text-decoration: none;
    font-family: Arial;
    font-size: 50px;

    position: relative;
    position: fixed;
    right: 575px;
    top: 0px;
}

.CopyrightText
{
    color: #afaabd;

    font-family: Arial;
    font-size: 20px;

    position: absolute;
    bottom: 0;
    left: 0;
}
