.title
{
    color: darkred;
    font-size: 125px;
    font-family: Arial, Bold;
    text-align: center;
    position: relative;
    top: 60px;
}

.titleDescription
{
    color:#00AD2B;
    font-size: 50px;
    text-align: center;
    position: relative;
    font-family: Arial;
    top:20px;
}

.LearnMoreButton
{
    background-color: salmon;
    border-color: salmon;
    size: 40px;
    text-align: center;
}