.mainTitle
{
    color: #F2EBE9;
    font-family:    Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center; 
    top : 50%;
    left : 50%;
    font-size: 2cm;
    
    transform: translate(-50%, -300%);
}

.MainDiv
{
    background-image: linear-gradient(to bottom right, rgb(31, 31, 31), rgb(54, 54, 54));
    height: 100vh;
}

.loadingText
{
    color: #33E000;
    font-family:    Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center; 
    top : 50%;
    left : 50%;
    font-size: 2cm;
    
    transform: translate(-50%, -300%);
}

.mainTitleDesc
{
    color: #F2EBE9;
    font-family:    Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center; 
    top : 50%;
    left : 50%;
    font-size: 18px;
    
    transform: translate(-50%, -660%);
}


.sectionTitle
{
    text-align: center;
    top : 50%;
    left : 50%;
    font-size: 1cm;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 31, 31);
}

.LearnMoreButton
{
    border-radius: 30px;
    border-color: #F2EBE9;
    background-color: rgba(0, 0, 0, 0);
    color: #A5BECC;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    border-width: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
}

.LearnMoreButton:hover
{
    font-size: 30px;
}

.AboutContent
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5cm;
    color: #243A73;
    position: absolute;
    text-align: left;
    left: 50%;
    transform: translate(-75%, 0%);
}

.AboutImage
{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(100%, 0%);
}

.ProjectSection
{
    background-color: #A5BECC;
    transform: translate(0%, -75%);
}

html, body {
    scroll-behavior: smooth;
    margin:0px;
    height:100%;
}